params {
    analysis_type="gwas_exploration"
    pheno_file = "/nfs/data/Pan_UKBB/new_data/phenotype_manifest_trait_type_biomarkers_first_8.csv"
    out_dir = "/nfs/data/Pan_UKBB/new_data/nf_results"
    magma_conf_file = "/nfs/data/Pan_UKBB/new_data/annotation_magma_conf.csv"

    pheno_batch_size = 4

    global_maxForks = 8

    normalize_cpus = 8
    normalize_memory = '32GB'

    vcf_cpus = 16
    vcf_memory = '64GB'

    manhattan_qq_cpus = 8
    manhattan_qq_memory = '32GB'

    chrom_bgz_maxForks = 23
    chrom_bgz_memory = '64GB'
    chrom_bgz_cpus = 8

    steps = ["gwas_exploration"]

    chr_column = 1
    pos_column = 2
    ref_column = 3
    alt_column = 4
    pval_column = 8
    beta_column = 6
    se_column = 7
    af_column = 5
    pval_neglog10 = true

    ensemblvep_cache = null

    ensemblvep_species = 'homo_sapiens'
    ensemblvep_genome = 'GRCh37'
    ensemblvep_cache_version = 114
    ensemblvep_distance_up   = 5000
    ensemblvep_distance_down = 5000

    manhattan_num_unbinned = 500
    within_pheno_mask_around_peak = 500_000
    between_pheno_mask_around_peak = 1_000_000
    manhattan_peak_max_count = 500
    manhattan_peak_pval_threshold = 1e-6
    manhattan_peak_sprawl_dist = 200_000
    manhattan_peak_variant_counting_pval_threshold = 5e-8

    top_hits_pval_cutoff = 1e-6
    top_hits_max_limit = 10000
}

process {
    withName: ENSEMBLVEP_VEP {
        conda="/nfs/home/students/l.arend/.conda/envs/vep"
        ext.args = "--everything --offline --format vcf --distance ${params.ensemblvep_distance_up},${params.ensemblvep_distance_down} --vcf"
        ext.prefix = "annotated_full_variants"
        cpus = params.vcf_cpus ?: 16
        memory = params.vcf_memory ?: '64GB'
    }

    withName: ENSEMBLVEP_DOWNLOAD {
        conda="/nfs/home/students/l.arend/.conda/envs/vep"
        ext.args = "--AUTO c --NO_UPDATE"
        cpus = params.vcf_cpus ?: 16
        memory = params.vcf_memory ?: '64GB'
    }
}

manifest {
    name = 'DyHealthNetLight NextFlow Pipeline'
    author = 'Lis Arend'
    description = 'Nextflow Pipeline for Generating Data Required for the DyHealthNetLight Platform'
    version = '0.1.0'
}

conda.enabled = true

profiles {
    // default local run
    standard {
        process.conda = "/nfs/home/students/l.arend/.conda/envs/dyhealthnetlight_nf_pipeline"
        process.executor = "local"
        process.cpus = 1
        process.memory = '4 GB'
        process.maxForks = 1
    }

    // SLURM profile
    slurm {
        process.conda = "/nfs/home/students/l.arend/.conda/envs/dyhealthnetlight_nf_pipeline"
        process.executor = "slurm"
        process.queue = "exbio-cpu"
        process.maxForks = params.global_maxForks ?: 8
    }
}