params {
    pheno_file = "data/phenotypes.csv"
    gwas_dir = "data/gwas_files"
    out_dir = "data/results"
    chr_column = 1
    pos_column = 2
    ref_column = 3
    alt_column = 4
    pval_column = 5
    beta_column = 6
    se_column = 7
    af_column = 8
    pval_neglog10 = true
    max_workers = 4
}

process {
    executor = 'slurm'
    cpus = 2
    memory = '4 GB'
    time = '1h'
}