params {

    slurm_queue = "slow-mc2"

    global_maxForks = 1 //10

    normalize_cpus = 6 //12
    normalize_memory = '16GB' //'64GB'

    vcf_cpus = 6 //16
    vcf_memory = '16GB' //'64GB'

    manhattan_qq_cpus = 6 //12
    manhattan_qq_memory = '16GB' //'64GB'

    chrom_bgz_maxForks = 1 //23
    chrom_bgz_memory = '16GB' //'64GB'
    chrom_bgz_cpus = 6 //8

    magma_cpus = 6 //32
    magma_memory = '16GB' //'64GB'
    magma_input_cpus = 6 //32
    magma_input_memory = '16GB' //'64GB'
}