params {

    slurm_queue = "slow-mc2" // exbio-cpu

    global_maxForks = 20

    normalize_cpus = 32
    normalize_memory = '64GB'

    vcf_cpus = 8
    vcf_memory = '64GB'

    manhattan_qq_cpus = 8
    manhattan_qq_memory = '64GB'

    chrom_bgz_maxForks = 23
    chrom_bgz_memory = '64GB'
    chrom_bgz_cpus = 8

    magma_cpus = 8
    magma_memory = '64GB'
    magma_input_cpus = 8
    magma_input_memory = '64GB'
}