params {
    base_dir = "/storage03/demmert/work/DyHealthNet/lipids_use_case/GLGC_2021_MetaAnalysis"
    pheno_file = "/storage03/larend/public_lipids_data/pheno_file.csv"
    out_dir = "/storage03/larend/public_lipids_data/lipids_nf_out_5"

    pheno_batch_size = 2

    steps = ["gene_statistics", "gwas_exploration"]

    chr_column = 2
    pos_column = 3
    ref_column = 4
    alt_column = 5
    pval_column = 11
    beta_column = 9
    se_column = 10
    af_column = 8
    n_samples_column = 6
    pval_neglog10 = true

    ensemblvep_species = 'homo_sapiens'
    ensemblvep_genome = 'GRCh37'
    ensemblvep_cache_version = 114
    ensemblvep_cache = "/shared/statgen/resources/VEP/"

    magma_reference_plink="/storage03/larend/MAGMA_ref/FUMA/EUR/EUR"
    magma_window_up= 10
    magma_window_down= 10
    magma_gene_location="/storage03/larend/MAGMA_ref/FUMA/ENSGv110.coding.genes.txt"
}