params {
    base_dir = "/storage03/larend/panukbb_pipeline/panukbb_data/processed_data/"
    pheno_file = "/storage03/larend/panukbb_pipeline/panukbb_data/cleaned_pheno_file_no_missing.csv"
    out_dir = "/storage03/larend/panukbb_pipeline/panukbb_data/panukbb_nf_out/"
    work_dir = "/storage03/larend/panukbb_pipeline/gnext_nf_pipeline/panukbb_work"

    window_up= 10
    window_down= 10
    gene_location="/storage03/larend/ensembl_annotations/homo_sapiens_grch37_release_114.tsv"

    pheno_batch_size = 150

    steps = ["gwas_exploration", "gene_statistics"]

    chr_column = 1
    pos_column = 2
    ref_column = 3
    alt_column = 4
    pval_column = 7
    beta_column = 6
    se_column = 5
    af_column = 8
    pval_neglog10 = true

    ensemblvep_species = 'homo_sapiens'
    ensemblvep_genome = 'GRCh37'
    ensemblvep_cache_version = 114
    ensemblvep_cache = "/shared/statgen/resources/VEP/"

    magma_reference_plink="/storage03/1000Genomes_phase3/biallelic/GRCh37_plink/h37_all_chromosomes_EUR_filtered"
}