params {
    base_dir = "/storage03/ekoenig/pGWAS/SOMALOGIC/HT/PheWeb/parsed3"
    pheno_file = "/storage03/larend/pgwas_data/pgwas_10_phenotype_file_nextflow.csv"
    out_dir = "/storage03/larend/pgwas_data/pgwas_out_new"

    pheno_batch_size = 5

    steps = ["gene_statistics", "gwas_exploration"]

    chr_column = 1
    pos_column = 2
    ref_column = 3
    alt_column = 4
    pval_column = 9
    beta_column = 6
    se_column = 7
    af_column = 5
    pval_neglog10 = true

    ensemblvep_species = 'homo_sapiens'
    ensemblvep_genome = 'GRCh37'
    ensemblvep_cache_version = 114
    ensemblvep_cache = "/shared/statgen/resources/VEP/"

    magma_reference_plink="/storage03/larend/MAGMA_ref/FUMA/EUR/EUR"
    magma_window_up= 10
    magma_window_down= 10
    magma_gene_location="/storage03/larend/MAGMA_ref/FUMA/ENSGv110.coding.genes.txt"
}