params {
    base_dir = "/storage03/demmert/work/DyHealthNet/lipids_use_case/gwis_sumstats"
    pheno_file = "/storage03/larend/lipids_data/lipids_case_study_traits.csv"
    out_dir = "/storage03/larend/lipids_data/lipids_nf_out_new"

    pheno_batch_size = 2

    steps = ["gene_statistics", "gwas_exploration"]

    chr_column = 3
    pos_column = 4
    ref_column = 5
    alt_column = 6
    pval_column = 16
    beta_column = 9
    se_column = 10
    af_column = 8
    pval_neglog10 = false

    ensemblvep_species = 'homo_sapiens'
    ensemblvep_genome = 'GRCh37'
    ensemblvep_cache_version = 114
    ensemblvep_distance_up = 5000
    ensemblvep_distance_down = 5000
    ensemblvep_cache = "/shared/statgen/resources/VEP/"

    magma_reference_plink="/storage03/larend/MAGMA_ref/FUMA/EUR/EUR"
    magma_window_up= 10
    magma_window_down= 10
    magma_gene_location="/storage03/larend/MAGMA_ref/FUMA/ENSGv110.coding.genes.txt"
}